In [20]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver import ActionChains

from bs4 import BeautifulSoup
import requests

from selenium.common.exceptions import NoSuchElementException

In [21]:
driver = webdriver.Chrome(r"C:\Users\R P SHUKLA\Downloads\chromedriver.exe")
time.sleep(6)

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
#### Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
#### You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [9]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(5)

Rank = []
Name = []
Artist = []
Upload = []
Views = []
time.sleep(1)

sno = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
for i in sno:
    Rank.append(i.text) 
    
video = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
for i in video:
    Name.append((i.text)[:-4].replace('"',''))  
uploader = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
for i in uploader:
    Artist.append(i.text)  
    
date = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
for i in date:
    Upload.append(i.text)  
    
view = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
for i in view:
    Views.append(i.text)  
time.sleep(3)

#Creating a dataframe.
Youtube = pd.DataFrame({})

Youtube['Rank'] = Rank
Youtube['Name of the video'] = Name
Youtube['Artist'] = Artist
Youtube['Upload date'] = Upload
Youtube['Views (In billions)'] = Views

In [10]:
Youtube

,Rank,Name of the video,Artist,Upload date,Views (In billions)
0,1.,Baby Shark Dance,Pinkfong Kids' Songs & Stories,"June 17, 2016",9.06
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.47
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",5.60
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.40
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.20
5,6.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.45
6,7.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",4.39
7,8.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.35
8,9.,Uptown Funk,Mark Ronson,"November 19, 2014",4.25
9,10.,Gangnam Style,Psy,"July 15, 2012",4.14
10,11.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",4.04
11,12.,Sugar,Maroon 5,"January 14, 2015",3.52
12,13.,Dame Tu Cosita,El Chombo,"April 5, 2018",3.49
13,14.,Sorry,Justin Bieber,"October 22, 2015",3.45
14,15.,Roar,Katy Perry,"September 5, 2013",3.40
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.35
16,17.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.30
17,18.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",3.20
18,19.,Dark Horse,Katy Perry,"February 20, 2014",3.11
19,20.,Faded,Alan Walker,"December 3, 2015",3.11
20,21.,Girls Like You,Maroon 5,"May 31, 2018",3.08
21,22.,Shake It Off,Taylor Swift,"August 18, 2014",3.08
22,23.,Lean On,Major Lazer,"March 22, 2015",3.07
23,24.,Bailando,Enrique Iglesias,"April 11, 2014",3.07
24,25.,Let Her Go,Passenger,"July 25, 2012",3.04
25,26.,Mi Gente,J Balvin,"June 29, 2017",2.95
26,27.,Perfect,Ed Sheeran,"November 9, 2017",2.91
27,28.,Axel F,Crazy Frog,"June 16, 2009",2.91
28,29.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",2.90
29,30.,Hello,Adele,"October 22, 2015",2.86

### 2. Scrape the details team India’s international fixtures from bcci.tv.
#### Url = https://www.bcci.tv/.
#### You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
#### Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [11]:
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(5)

link_to_page = driver.find_element_by_xpath('//li[@class="navigation__item  "][1]/div[2]/div/ul/li/a[1]').get_attribute('href')

driver.get(link_to_page) 
time.sleep(5)

title = []
series = []
place = []
date = []
time1 = []

days=[]
months=[]

title_tags = driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in title_tags:
    title.append(i.text)  

place_tag = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place_tag:
    place.append(i.text) 

series_tags = driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__format']")
for i in series_tags:
    series.append(i.text)  

time_tags = driver.find_elements_by_xpath("//span[@class='fixture__time']")
for i in time_tags:
    time1.append(i.text) 

day_tag = driver.find_elements_by_xpath("//span[@class='fixture__date']")
month_tag = driver.find_elements_by_xpath("//span[@class='fixture__month']")

for i in day_tag:
    days.append(i.text)
    
for i in month_tag:
    months.append(i.text)
    
for i in range(0, len(days)):
    date.append(days[i]+" "+months[i])  

#Creating a dataframe.
Matches = pd.DataFrame({})

Matches['Match Title'] = title
Matches['Series'] = series
Matches['Place'] = place
Matches['Date'] = date
Matches['Time'] = time1

In [12]:
Matches

  Match Title Series                     Place          Date       Time
0    1st Test   TEST  Trent Bridge, Nottingham     04 AUGUST  15:30 IST
1    2nd Test   TEST            Lord's, London     12 AUGUST  15:30 IST
2    3rd Test   TEST         Headingley, Leeds     25 AUGUST  15:30 IST
3    4th Test   TEST          The Oval, London  02 SEPTEMBER  15:30 IST
4    5th Test   TEST  Old Trafford, Manchester  10 SEPTEMBER  15:30 IST

### 3. Scrape the details of selenium exception from guru99.com.
#### Url = https://www.guru99.com/
#### You need to find following details:
A) Name
B) Description
#### Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [13]:
url = "https://www.guru99.com/"
driver.get(url)
time.sleep(3)

sel = driver.find_element_by_xpath("//a[@title='Selenium']").click() 
time.sleep(3)

driver.find_element_by_xpath("//table[@class='table'][5]/tbody/tr[34]/td/a").click() 
time.sleep(3)

name = []
desc = []

names = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in names[1:]:
    name.append(i.text) 

descs = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
for i in descs[1:]:
    desc.append(i.text) 

#Creating a dataframe.
Selenium = pd.DataFrame({})

Selenium['Name'] = name
Selenium['Description'] = desc

In [14]:
Selenium

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
#### Url = http://statisticstimes.com/
#### You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
#### Note: - From statisticstimes home page you have to reach to economy page through code

In [15]:
url = 'http://statisticstimes.com/'
driver.get(url)
time.sleep(5)

to_eco = driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]").get_attribute('href')
driver.get(to_eco)
time.sleep(4)

to_state = driver.find_element_by_xpath("//div[@style='float:left;background-color:seashell;width:400px;height:800px;']/ul/li[1]/a").get_attribute('href')
driver.get(to_state)
time.sleep(6)

rank=[]
name=[]
gsdp_1920=[]
gsdp_1819=[]
share_1819=[]
gdp=[]

rank_tags = driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
for i in rank_tags:
    rank.append(i.text) 

name_tags = driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
for i in name_tags:
    name.append(i.text)  
    
gsdp_1920_tags = driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
for i in gsdp_1920_tags:
    gsdp_1920.append(i.text) 
gsdp_1819_tags = driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
for i in gsdp_1819_tags:
    gsdp_1819.append(i.text)  
    
share_tags = driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
for i in share_tags:
    share_1819.append(i.text)  
    
gdp_tags = driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
for i in gdp_tags:
    gdp.append(i.text)  
time.sleep(3)

#Creating a dataframe.
GDP = pd.DataFrame({})

GDP['Rank'] = rank
GDP['State'] = name
GDP['GSDP at current price (19-20)'] = gsdp_1920
GDP['GSDP at current price (18-19)'] = gsdp_1819
GDP['Share(18-19)']= share_1819
GDP['GDP($ billion)'] = gdp

In [16]:
GDP

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

### 5. Scrape the details of trending repositories on Github.com.
#### Url = https://github.com/
#### You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [22]:
url = 'https://github.com/'
driver.get(url)
time.sleep(3)

trend = driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]/details/div/ul[2]/li[3]/a").get_attribute('href')

driver.get(trend)  
time.sleep(4)

title = []
desc=[]
count=[]
lang=[]

name = driver.find_elements_by_xpath("//div[@class='Box']/div[2]/article/h1/a")
for i in name:
    title.append((i.text).split('/')[1]) 
description = driver.find_elements_by_xpath("//article[@class='Box-row']")
for i in description:
    try:
        desc1 = i.find_element_by_xpath("./p")
        desc.append(desc1.text)
    except NoSuchElementException:
        desc.append('--')

contribute = driver.find_elements_by_xpath("//div[@class='Box']/div[2]/article/div[2]/a[2]")
for i in contribute:
    count.append(i.text)  

language= driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']")
for i in language:
    try :
        lang1 = i.find_element_by_xpath("./span/span[2]")
        lang.append(lang1.text)
    except NoSuchElementException:
        lang.append('--')  
#Creating a dataframe.
Github = pd.DataFrame({})

Github['Repository title'] = title
Github['Repository description'] = desc
Github['Contributors count'] = count
Github['Language used'] = lang

In [23]:
Github

,Repository title,Repository description,Contributors count,Language used
0,openpilot,openpilot is an open source driver assistance ...,"5,320",C++
1,azure-sdk-for-net,This repository is for active development of t...,"2,839",C#
2,Fastbot_iOS,About Fastbot(2.0) is a model-based testing to...,18,Objective-C
3,rubick,🔧 基于 electron 的开源工具箱，自由集成丰富插件。,146,JavaScript
4,AspNetCore-Developer-Roadmap,Roadmap to becoming an ASP.NET Core developer ...,"1,148",--
5,ML-For-Beginners,"12 weeks, 25 lessons, 50 quizzes, classic Mach...","3,619",Jupyter Notebook
6,pinot,Apache Pinot (Incubating) - A realtime distrib...,723,Java
7,sigma,Generic Signature Format for SIEM Systems,"1,109",Python
8,modern-unix,A collection of modern/faster/saner alternativ...,288,--
9,inceptor,Template-Driven AV/EDR Evasion Framework,32,Assembly
10,SqlKnife_0x727,适合在命令行中使用的轻巧的SQL Server数据库安全检测工具,27,C++
11,Reverse-Engineering,A FREE comprehensive reverse engineering cours...,425,C
12,lkmpg,The Linux Kernel Module Programming Guide (upd...,80,TeX
13,PowerToys,Windows system utilities to maximize productivity,"3,165",C#
14,rasa,💬 Open source machine learning framework to au...,"3,635",Python
15,hello-algorithm,🌍 针对小白的算法训练 | 包括四部分：①.算法基础 ②.力扣图解 ③.大厂面经 ④.CS_...,"5,244",Java
16,terraform-aws-eks,Terraform module to create an Elastic Kubernet...,"1,768",HCL
17,riscv2os,從 RISC-V 處理器到 UNIX 作業系統,9,--
18,ShuiZe_0x727,信息收集自动化工具,113,Python
19,clean-code-javascript,🛁 Clean Code concepts adapted for JavaScript,"6,947",JavaScript
20,v,"Simple, fast, safe, compiled language for deve...","1,504",V
21,awesome-for-beginners,A list of awesome beginners-friendly projects.,"4,969",--
22,jvm,🤗 JVM 底层原理最全知识总结,"1,470",Java
23,compose-jb,"Jetpack Compose for Desktop and Web, a modern ...",285,Kotlin
24,tutorials,"Just Announced - ""Learn Spring Security OAuth"":","43,330",Java

### 6. Scrape the details of top 100 songs on billboard.com.
#### Url = https://www.billboard.com/
#### You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
#### Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [24]:
url = 'https://www.billboard.com/'
driver.get(url)
time.sleep(3)

top = driver.find_element_by_xpath("//a[@class='header__submenu__list__link']").get_attribute('href')

driver.get(top) 
time.sleep(7)

name=[]
artist=[]
last_rank=[]
peak_rank=[]
weeks=[]

name_tags = driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in name_tags:
    name.append(i.text) 

artist_tags = driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artist_tags:
    artist.append(i.text)
last_tags = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in last_tags:
    last_rank.append(i.text) 
peak_tags = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak_tags:
    peak_rank.append(i.text) 

week_tags = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in week_tags:
    weeks.append(i.text)
#Creating a dataframe.
top100 = pd.DataFrame({})

top100['Song name'] = name
top100['Artist name'] = artist
top100['Last week rank'] = last_rank
top100['Peak rank'] = peak_rank
top100['Weeks on board'] = weeks

In [25]:
top100

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Butter,BTS,1,1,10
1,Industry Baby,Lil Nas X & Jack Harlow,-,2,1
2,Good 4 U,Olivia Rodrigo,2,1,11
3,Stay,The Kid LAROI & Justin Bieber,4,3,3
4,Levitating,Dua Lipa Featuring DaBaby,3,2,43
...,...,...,...,...,...
95,Minimum Wage,Blake Shelton,83,67,12
96,Working,Tate McRae X Khalid,-,88,5
97,Holy Smokes,Trippie Redd Featuring Lil Uzi Vert,50,50,2
98,WUSYANAME,"Tyler, The Creator Featuring YoungBoy Never Br...",91,14,5
99,Still Chose You,The Kid LAROI Featuring Mustard,-,100,1

### 7. Scrape the details of Data science recruiters from naukri.com.
#### Url = https://www.naukri.com/
#### You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
#### Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [26]:
url ='https://www.naukri.com/'
driver.get(url)
time.sleep(5)

## retrived link to the recruiters page
recruiter = driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a").get_attribute('href')
driver.get(recruiter)
time.sleep(5)

#Entering Data Science in search box
search = driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys('Data science')
time.sleep(1)

#clicking search button
button = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
button.click()
time.sleep(5)

name=[]
title=[]
company=[]
skills=[]
location=[]

name_tags = driver.find_elements_by_xpath("//div[@class='vcard']/p/a[1]/span")
for i in name_tags:
    name.append(i.text) 

title_tags = driver.find_elements_by_xpath("//div[@class='vcard']/p/span[1]")
for i in title_tags:
    title.append(i.text)  

company_tags = driver.find_elements_by_xpath("//div[@class='vcard']/p/a[2]")
for i in company_tags:
    company.append(i.text)  

skills_tags = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in skills_tags:
    skills.append(i.text)  

location_tags = driver.find_elements_by_xpath("//div[@class='vcard']/p")
for i in location_tags:
    try:
        location_1 = i.find_element_by_xpath("./span/small")
        location.append(location_1.text)
    except NoSuchElementException:
        location.append("--")

#Creating a dataframe.
Recruiters = pd.DataFrame({})

Recruiters['Name'] = name
Recruiters['Designation'] = title
Recruiters['Company'] = company
Recruiters['Skills they hire for'] = skills
Recruiters['Location'] = location

In [27]:
Recruiters

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
26,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",--
28,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
29,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",--
48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
49,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai

### 8. Scrape the details of Highest selling novels.
#### Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
#### You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [28]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)
time.sleep(4)

name=[]
author=[]
volume=[]
publisher=[]
genre=[]

name_tags = driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[2]")
for i in name_tags:
    name.append(i.text)  

author_tags = driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[3]")
for i in author_tags:
    author.append(i.text)  

volume_tags = driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[4]")
for i in volume_tags:
    volume.append(i.text)  

publisher_tags = driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[5]")
for i in publisher_tags:
    publisher.append(i.text)  

genre_tags = driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[6]")
for i in genre_tags:
    genre.append(i.text)  
#Creating a dataframe.
Novels = pd.DataFrame({})

Novels['Book name'] = name
Novels['Author name'] = author
Novels['Volumes sold'] = volume
Novels['Publisher'] = publisher
Novels['Genre'] = genre

In [29]:
Novels

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 9. Scrape the details most watched tv series of all time from imdb.com.
#### Url = https://www.imdb.com/list/ls095964455/
#### You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [30]:
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)
time.sleep(5)

name=[]
year=[]
genre=[]
run=[]
ratings=[]
votes=[]

name_tags = driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/h3/a")
for i in name_tags:
    name.append(i.text) 
year_tags = driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/h3/span[2]")
for i in year_tags:
    year.append(i.text) 

genre_tags = driver.find_elements_by_xpath("//span[@class='genre']")
for i in genre_tags:
    genre.append(i.text) 

run_tags = driver.find_elements_by_xpath("//span[@class='runtime']")
for i in run_tags:
    run.append(i.text) 

ratings_tags = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
for i in ratings_tags:
    ratings.append(i.text)

votes_tags = driver.find_elements_by_xpath("//span[@name='nv']")
for i in votes_tags:
    votes.append(i.text) 

#Creating a dataframe.
TV_series = pd.DataFrame({})

TV_series['Name'] = name
TV_series['Year span'] = year
TV_series['Genre'] = genre
TV_series['Run time'] = run
TV_series['Ratings'] = ratings
TV_series['Votes'] = votes

In [31]:
TV_series

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,849,399"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"886,678"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"886,284"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"266,579"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"227,072"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,073"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,797"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"171,947"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,733"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"195,269"

### 10. Details of Datasets from UCI machine learning repositories.
#### Url = https://archive.ics.uci.edu/
#### You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [ ]:
url = 'https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(5)

all_data = driver.find_element_by_xpath("//body/table[2]//a").get_attribute('href') 
driver.get(all_data)                                                                
time.sleep(10)

name=[]
type_=[]
task=[]
attribute=[]
noofinstance=[]
noofattribute=[]
year=[]

source = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr")

## Extracted Names
for i in source:
    try:
        name1 = i.find_element_by_xpath("./td/table/tbody/tr/td[2]/p/b/a")
        name.append(name1.text)
    except:
        name.append("WRONG")
        

##Extracted Type
for i in source:
    try:
        type1 = i.find_element_by_xpath("./td[2]/p")
        type_.append(type1.text)
    except:
        type_.append("WRONG")

##Extracted Task
for i in source:
    try:
        task1 = i.find_element_by_xpath("./td[3]/p")
        task.append(task1.text)
    except:
        task.append("WRONG")

##Extracted Attribute
for i in source:
    try:
        attri = i.find_element_by_xpath("./td[4]/p")
        attribute.append(attri.text)
    except:
        attribute.append("WRONG")

##Extracted No of instances
for i in source:
    try:
        instance = i.find_element_by_xpath("./td[5]/p")
        noofinstance.append(instance.text)
    except:
        noofinstance.append("WRONG")

##Extracted No of attributes
for i in source:
    try:
        noattri = i.find_element_by_xpath("./td[6]/p")
        noofattribute.append(noattri.text)
    except:
        noofattribute.append("WRONG")

##Extracted year
for i in source:
    try:
        year1 = i.find_element_by_xpath("./td[7]/p")
        year.append(year1.text)
    except:
        year.append("WRONG")

#Creating a dataframe.
Datasets = pd.DataFrame({})

Datasets['Dataset name'] = name[1:]
Datasets['Data type'] = type_[1:]
Datasets['Task'] = task[1:]
Datasets['Attribute type'] = attribute[1:]
Datasets['No of instances'] = noofinstance[1:]
Datasets['No of attribute'] = noofattribute[1:]
Datasets['Year'] = year[1:]

In [33]:
Datasets

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021